@import url(reset.css);
/*   //////////////////   SASS   /////////////////   */
/*   Variables   */
/*$brandBlue: #1659a7;*/
/*   /////////////   Elements   ////////////   */
body {
  font-family: 'acumin-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px; }

button {
  color: #3d3d3d;
  font-weight: 600;
  background-color: #d0c700;
  border: 2px solid #ffffff;
  padding: 0.5rem 2.5rem;
  font-family: 'acumin-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  transition: all 0.3s ease-out;
  border-radius: 15px; }

button:hover {
  color: #226d8d;
  background-color: white;
  border: 2px solid white; }

#nextPage > button:hover > i {
  color: #226d8d; }

.noButton {
  background-color: #8a8a8a;
  color: #ffffff;
  border-color: #ffffff;
  transition: all 0.3s ease-out; }

button:hover.noButton {
  background-color: #efefef;
  color: #545454;
  border-color: #efefef; }

#nextPage {
  margin-top: 1rem; }

h1 {
  color: white;
  position: relative;
  font-weight: 700; }

h2 {
  font-weight: 700;
  color: #226d8d; }

h3 {
  text-transform: uppercase; }

h4 {
  font-weight: 300;
  color: #ffe8d7; }

a {
  color: #293142;
  transition: color 0.3s ease-out; }

a:hover {
  color: #d0c700;
  text-decoration: none; }

/*   ///////////////////   Global Classes   //////////////////   */
.iconWhite {
  color: white; }

.instructionCopy {
  margin: 0;
  text-align: center; }

.checkClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #226d8d;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 40;
  transition: color 0.3s ease-out; }
  .checkClose :hover {
    color: black; }

.dNone {
  display: none; }

.dInitial {
  display: initial; }

.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.dBlock {
  display: block; }

.dInBlock {
  display: inline-block; }

.visHidden {
  visibility: hidden;
  opacity: 0; }

.visVisible {
  visibility: visible;
  opacity: 1; }

.optionBorder {
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 50px;
  text-align: center; }

.h1Instructions {
  color: #d0c700;
  text-align: center;
  font-family: quatro, sans-serif;
  font-style: italic;
  font-weight: 900; }

.white {
  color: white; }

.fSmall {
  font-size: small; }

.newIns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50vh;
  flex-wrap: wrap; }

.insRow {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .insRow img {
    width: 30%; }

.insDiv {
  background-color: #d0c287;
  color: #3c3634;
  border-radius: 25px;
  margin-left: -20px;
  width: 55%;
  padding-left: 2rem;
  height: 5rem;
  padding-top: 1.25rem; }
  .insDiv p {
    margin-left: 40px;
    margin-top: 0.75rem; }

.z30 {
  z-index: 30; }

.mTop125 {
  margin-top: 1.25rem; }

.mBottom {
  margin-bottom: 0.4rem; }

.mBottom25 {
  margin-bottom: 0.25rem; }

.helpUs {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

#wantToTry4 > a:hover > i {
  color: #d0c700; }

/*   //////////////////   GRID   ////////////////   */
.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh; }

/*      ///////////////   Go Landscape   ////////////     */
#goLandscape {
  display: none; }

/*      ///////////////   Go Full Screen   ////////////     */
#fullScreen {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  z-index: 30; }
  #fullScreen a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 0 0;
    /*margin: 1rem 1rem 0 0;*/
    width: 100%;
    height: 100%;
    background-color: pink; }
  #fullScreen h5 {
    color: #226d8d;
    font-weight: 700; }

/* ////////////////   Navigation   ////////////// */
#nav {
  /*    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;

    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;*/
  grid-column: 2 / 12;
  grid-row: 9 / 10;
  z-index: 50;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem 2rem; }
  #nav a {
    margin: 0.4rem 0.2rem; }

.navButton {
  position: relative;
  color: #293142;
  border-radius: 5px;
  /* border-width: 0px 0px 3px 0px;*/
  /* border-color: $brandDarkBlue;
        border-style: solid;*/
  background-color: #d0c700;
  height: 7.1vh;
  /*        width: 85%;
        height: 63%;*/
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  /*    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    border: 1px solid white;*/
  font-weight: 600;
  /*    width: 1.5rem;
    height: 1.5rem;*/
  margin: 0 .25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.3s ease-out; }

.navButton:hover {
  color: #226d8d;
  background-color: white;
  /*    border: 1px solid white;*/
  border-radius: 5px;
  /*border-width: 0px 0px 3px 0px;*/
  /*border-color: $brandDarkBlue;
        border-style: solid;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.navButtonHere {
  color: #226d8d;
  background-color: white;
  border-radius: 5px;
  /*border-width: 0px 0px 3px 0px;*/
  /*border-color: $brandDarkBlue;
        border-style: solid;*/
  /*    margin: 0 .1rem;*/ }

@keyframes navAni {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.hideAni {
  animation-name: navAni;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes navAniRev {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.hideAniRev {
  animation-name: navAniRev;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: reverse; }

/* /////////////   Main Content   ///////////// */
/*   Main  */
/*(This is the grid item that holds the main content on every page except the last one)*/
@-webkit-keyframes AnimationName {
  0% {
    background-position: 35% 0%; }
  50% {
    background-position: 66% 100%; }
  100% {
    background-position: 35% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 35% 0%; }
  50% {
    background-position: 66% 100%; }
  100% {
    background-position: 35% 0%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 35% 0%; }
  50% {
    background-position: 66% 100%; }
  100% {
    background-position: 35% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 35% 0%; }
  50% {
    background-position: 66% 100%; }
  100% {
    background-position: 35% 0%; } }

canvas {
  grid-column: 1 / 13;
  grid-row: 1 / 10;
  z-index: 0; }

/*#overlay {

    grid-column: 1 / 13;
    grid-row: 1 / 11;
    z-index: 40;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

#overlay.fade-out {
    opacity: 0;
}

#loader {
  animation: spin 1s linear infinite;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px;
  
}*/
@keyframes spin {
  0% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; }
  6.25% {
    box-shadow: 0px -30px transparent,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px #000,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; }
  12.5% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px #000,  -10px 30px #000,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; }
  18.75% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px transparent,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px #000,  -10px 30px #000,  -20px 20px #000,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; }
  25% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px transparent,  30px -10px transparent,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px #000,  -10px 30px #000,  -20px 20px #000,  -30px 10px #000,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; }
  31.25% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px transparent,  30px -10px transparent,  30px 0px transparent,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px #000,  -10px 30px #000,  -20px 20px #000,  -30px 10px #000,  -30px 0px #000,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; }
  37.5% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px transparent,  30px -10px transparent,  30px 0px transparent,  30px 10px transparent,  20px 20px #000,  10px 30px #000,  0px 30px #000,  -10px 30px #000,  -20px 20px #000,  -30px 10px #000,  -30px 0px #000,  -30px -10px #000,  -20px -20px transparent, -10px -30px transparent; }
  43.75% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px transparent,  30px -10px transparent,  30px 0px transparent,  30px 10px transparent,  20px 20px transparent,  10px 30px #000,  0px 30px #000,  -10px 30px #000,  -20px 20px #000,  -30px 10px #000,  -30px 0px #000,  -30px -10px #000,  -20px -20px #000, -10px -30px transparent; }
  50% {
    box-shadow: 0px -30px transparent,  10px -30px transparent,  20px -20px transparent,  30px -10px transparent,  30px 0px transparent,  30px 10px transparent,  20px 20px transparent,  10px 30px transparent,  0px 30px #000,  -10px 30px #000,  -20px 20px #000,  -30px 10px #000,  -30px 0px #000,  -30px -10px #000,  -20px -20px #000, -10px -30px #000; }
  56.25% {
    box-shadow: 0px -30px #000,  10px -30px transparent,  20px -20px transparent,  30px -10px transparent,  30px 0px transparent,  30px 10px transparent,  20px 20px transparent,  10px 30px transparent,  0px 30px transparent,  -10px 30px #000,  -20px 20px #000,  -30px 10px #000,  -30px 0px #000,  -30px -10px #000,  -20px -20px #000, -10px -30px #000; }
  62.5% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px transparent,  30px -10px transparent,  30px 0px transparent,  30px 10px transparent,  20px 20px transparent,  10px 30px transparent,  0px 30px transparent,  -10px 30px transparent,  -20px 20px #000,  -30px 10px #000,  -30px 0px #000,  -30px -10px #000,  -20px -20px #000, -10px -30px #000; }
  68.75% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px transparent,  30px 0px transparent,  30px 10px transparent,  20px 20px transparent,  10px 30px transparent,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px #000,  -30px 0px #000,  -30px -10px #000,  -20px -20px #000, -10px -30px #000; }
  75% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px transparent,  30px 10px transparent,  20px 20px transparent,  10px 30px transparent,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px #000,  -30px -10px #000,  -20px -20px #000, -10px -30px #000; }
  81.25% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px transparent,  20px 20px transparent,  10px 30px transparent,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px #000,  -20px -20px #000, -10px -30px #000; }
  87.5% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px transparent,  10px 30px transparent,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px #000, -10px -30px #000; }
  93.75% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px transparent,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px #000; }
  100% {
    box-shadow: 0px -30px #000,  10px -30px #000,  20px -20px #000,  30px -10px #000,  30px 0px #000,  30px 10px #000,  20px 20px #000,  10px 30px #000,  0px 30px transparent,  -10px 30px transparent,  -20px 20px transparent,  -30px 10px transparent,  -30px 0px transparent,  -30px -10px transparent,  -20px -20px transparent, -10px -30px transparent; } }

#mainOne, #mainTwo {
  grid-column: 1 / 13;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 30; }

#mainTwo, #mainThree {
  grid-column: 1 / 13;
  grid-row: 1 / 11;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(61, 61, 61, 0.7); }

#mainFour {
  grid-column: 1 / 13;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 30; }

#youStopped {
  grid-column: 4 / 10;
  grid-row: 4 / 8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: #3d3d3d;
  border-radius: 25px; }

#tryAnother {
  text-align: center;
  flex-direction: column;
  width: 100%; }
  #tryAnother div {
    width: 100%; }

#goNext {
  align-items: center;
  justify-content: center; }

#mainFive {
  grid-column: 1 / 13;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 30; }

#info {
  grid-column: 12 / 13;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  z-index: 60;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.3s ease-out; }

#info:hover {
  color: #d0c700; }

#closeInstruct {
  grid-column: 12 / 13;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  z-index: 60;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.3s ease-out; }

#closeInstruct:hover {
  color: #d0c700; }

#introTextSm {
  color: white;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3rem; }

#introTextLg {
  color: #293142;
  text-align: center;
  margin: -3rem 0;
  width: 100%;
  font-family: 'quatro', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 12rem;
  font-weight: 900; }

footer {
  position: absolute;
  display: block;
  width: 5vw;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 30; }

/*   Index Page   */
#spot {
  width: 22px;
  height: 20px;
  color: white;
  margin-left: 1px;
  opacity: 0;
  transition: opacity 0.3s ease-out; }

#spot:hover {
  opacity: 1; }

/*   Page 2   */
/* Content for Page 2 */
#wantToTry, #wantToTry4, #wantToTry5 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  #wantToTry h1, #wantToTry4 h1, #wantToTry5 h1 {
    line-height: 2.25rem; }
  #wantToTry h4, #wantToTry4 h4, #wantToTry5 h4 {
    margin-bottom: 1.5rem; }

/*   Page 3   */
@keyframes blurIn {
  0% {
    filter: blur(0); }
  100% {
    filter: blur(5px); } }

@keyframes blurOut {
  0% {
    filter: blur(5px); }
  100% {
    filter: blur(0px); } }

.blurIn {
  animation: blurIn 1s ease-out forwards 3s; }

.blurInFast {
  animation: blurIn 1s ease-out forwards; }

.blurOut {
  animation: blurOut 1s ease-out forwards; }

/* Instructions Button */
#bigI {
  color: #226d8d;
  transition: all 0.3s ease-out;
  z-index: 30; }
  #bigI div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid white;
    background: white;
    border-radius: 0px 0px 10px 10px; }
  #bigI :hover {
    color: #226d8d; }
  #bigI h1 {
    font-size: 1.5rem;
    margin: 0.5vh 1.5vh 0 0;
    color: inherit;
    transition: all 0.3s ease-out; }
  #bigI i {
    border-radius: 50%;
    color: inherit;
    transition: all 0.3s ease-out; }

@keyframes addClose {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 76vh; } }

.addBigI {
  animation: addClose 250ms cubic-bezier(0.27, 0.96, 0.59, 1) 0ms 1 normal forwards running; }

@keyframes removeClose {
  0% {
    margin-top: 76vh; }
  100% {
    margin-top: 0; } }

.removeBigI {
  animation: removeClose 250ms cubic-bezier(0.27, 0.96, 0.59, 1) 0ms 1 normal forwards running; }

/* Instructions */
#instructions {
  /*
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 10;

    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1 / 8;*/
  z-index: 20;
  margin: -1vh;
  width: 100%; }

@keyframes moveInstructBG {
  0% {
    height: 1vh; }
  100% {
    height: 77vh; } }

.moveInstructBG {
  animation: moveInstructBG 250ms cubic-bezier(0.27, 0.96, 0.59, 1) 0ms 1 normal forwards running; }

@keyframes closeInstructBG {
  0% {
    height: 77vh; }
  100% {
    height: 1vh; } }

.closeInstructBG {
  animation: closeInstructBG 250ms cubic-bezier(0.27, 0.96, 0.59, 1) 0ms 1 normal forwards running; }

.insClose {
  height: 0; }

.insHr {
  border-top: 1px solid white;
  width: 50%; }

#instructionsBG {
  display: flex;
  background-color: white;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 0px 10px 10px; }

@keyframes instructFrame {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.instructAnimation {
  animation-name: instructFrame;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: .5s; }

#instructContain {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  background-color: white; }

@keyframes instructContain {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }

.instructCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation-name: instructContain;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes instructContainRev {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.instructContRev {
  animation-name: instructContainRev;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

.steps {
  width: 100%;
  padding: 0 1.125rem;
  border: 1px solid white;
  margin: 0 0.125rem;
  background-color: rgba(214, 234, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }
  .steps h3 {
    margin: 0.5rem 1rem; }

.sideButtonHere {
  color: white;
  background-color: #226d8d;
  transition: all 0.3s ease-out; }

#stepsContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 5vh 0; }

.stepsStyle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 15vw;
  min-height: 51vh;
  background-color: #d0c287;
  color: #3c3634;
  border-radius: 30px; }
  .stepsStyle img {
    width: 120%;
    margin-left: 20px; }
  .stepsStyle h3 {
    padding-top: 1rem; }
  .stepsStyle p {
    padding: 1rem;
    padding-top: 0;
    text-align: center; }

.stepsStyleNone {
  display: none; }

@keyframes circleAni {
  0% {
    opacity: 0;
    transform: translateY(2px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.fa-info-circle {
  opacity: 1;
  animation-name: circleAni;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes timesAni {
  0% {
    opacity: 0;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.fa-times-circle {
  opacity: 0;
  animation-name: timesAni;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  transition: color 0.3s ease-out; }

/*   Page 4   */
#wantToTry4 {
  padding: 0 4rem; }

.arrow {
  color: white;
  transition: all 0.3s ease-out;
  margin-left: 0.5rem; }

.arrow:hover {
  color: #d0c700; }

/*   Last Page   */
#share, #learn, #subscribe {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*border: 1px solid white;*/
  position: relative;
  padding: 0.5rem;
  z-index: 20;
  /*background-color: rgba(214, 234, 255, 0.5);*/
  text-align: center; }
  #share hr, #learn hr, #subscribe hr {
    border-style: solid;
    border-color: black;
    width: 5vw;
    margin: 0 auto; }
  #share p, #learn p, #subscribe p {
    line-height: 0.9rem;
    margin-top: 0;
    padding-top: .5rem;
    margin-bottom: .25rem; }

#logo {
  /*      -ms-grid-column: 6;
      -ms-grid-column-span: 2;
      grid-column: 6 / 8;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;

      width: 100%;
      z-index: 20;

      align-items: center;
      justify-content: center;*/ }
  #logo a {
    text-align: center; }
  #logo img {
    width: 50%; }

/*  #share {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1 / 5;
      -ms-grid-row: 2;
      -ms-grid-row-span: 6;
      grid-row: 2 / 8;
  }
*/
#subscribe {
  /*      -ms-grid-column: 5;
      -ms-grid-column-span: 4;
      grid-column: 5 / 9;
      -ms-grid-row: 2;
      -ms-grid-row-span: 6;
      grid-row: 2 / 8;*/ }

#learn {
  /*      -ms-grid-column: 9;
      -ms-grid-column-span: 4;
      grid-column: 9 / 13;
      -ms-grid-row: 2;
      -ms-grid-row-span: 6;
      grid-row: 2 / 8;*/ }

#subscribe form, #learn form {
  width: 100%;
  text-align: left; }

#subscribe a, #learn a {
  display: block; }

#subscribe input, #learn input {
  height: 7vh;
  font-size: 0.75rem;
  border: 1px solid #b8bab3;
  display: block;
  padding-left: 10px;
  width: 100%;
  transition: background-color 0.2s ease-out; }

#subscribe input::placeholder, #learn input::placeholder {
  color: #b8bab3; }

#subscribe button, #learn button {
  padding: 0.5rem 1rem;
  margin: .25rem 0 .125rem 0; }

#subscribe label, #learn label {
  font-weight: 700; }

#subscribe ul, #learn ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 1rem 0 0 0; }
  #subscribe ul li, #learn ul li {
    margin: 0;
    padding: 0; }

#subscribe input[type="submit"], #learn input[type="submit"] {
  color: white;
  font-weight: 600;
  background-color: #226d8d;
  border: 2px solid #226d8d;
  padding: 0.5rem 2.5rem;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease-out; }

.inputGroup {
  margin: 0; }

#shareIcons {
  margin-top: 0.75rem; }
  #shareIcons a {
    color: #226d8d;
    transition: color 0.3s ease-out;
    margin: 0 .5rem; }
  #shareIcons :hover {
    color: white; }

.st-custom-button[data-network] {
  background-color: none;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  color: #226d8d;
  transition: all 0.3s ease-out; }
  .st-custom-button[data-network]:hover, .st-custom-button[data-network]:focus {
    text-decoration: none;
    color: white;
    background-color: none; }

#sorry {
  display: none;
  grid-column: 3 / 11;
  grid-row: 1 / 10;
  z-index: 30;
  background-color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  #sorry form {
    width: 100%; }
  #sorry input {
    height: 7vh;
    font-size: 0.75rem;
    border: 1px solid #b8bab3;
    display: block;
    padding-left: 10px;
    width: 100%;
    transition: background-color 0.2s ease-out; }
  #sorry input::placeholder {
    color: #b8bab3; }
  #sorry textarea {
    width: 100%;
    height: 20vh;
    font-size: 0.75rem;
    border: 1px solid #b8bab3;
    padding-left: 10px;
    color: #b8bab3; }
  #sorry label {
    font-weight: 700; }

/*   ////////////////////  Animation   /////////////////   */
/*   Fade In and Out Classes   */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  25% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInTwo {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  35% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInT {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  65% {
    opacity: 0;
    transform: translateY(-2px); }
  68% {
    opacity: 1;
    transform: translateY(-5px); }
  90% {
    opacity: 1;
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDelay {
  opacity: 0;
  animation-delay: 3s;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeIn {
  opacity: 0;
  animation-name: fadeInTwo;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeInTwo {
  opacity: 0;
  animation-name: fadeInTwo;
  animation-duration: 1.125s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeInThree {
  opacity: 0;
  animation-name: fadeInTwo;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeInFour {
  opacity: 0;
  animation-name: fadeInTwo;
  animation-duration: 1.375s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeInFive {
  opacity: 0;
  animation-name: fadeInTwo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeInSix {
  opacity: 0;
  animation-name: fadeInTwo;
  animation-duration: 1.625s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeInT {
  margin-left: 1px;
  opacity: 0;
  animation-name: fadeInT;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.57, 1, 0.9, 1.07);
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOutTwo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeOutTwo {
  opacity: 1;
  animation-name: fadeOutTwo;
  animation-duration: 0.625s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeOutThree {
  opacity: 1;
  animation-name: fadeOutTwo;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeOutFour {
  opacity: 1;
  animation-name: fadeOutTwo;
  animation-duration: 0.875s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fadeOutFive {
  opacity: 1;
  animation-name: fadeOutTwo;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

/*   Full Page Transition   */
@keyframes pageTrans {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.pageTran {
  opacity: 0;
  background-color: azure;
  animation-name: pageTrans;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

/*   /////////////////////    MEDIA QUERIES    /////////////////////   */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #goLandscape {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 9;
    grid-row: 1 / 10;
    margin: -1vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 60; }
    #goLandscape h1 {
      color: black;
      text-align: center;
      padding: 0 2rem; }
    #goLandscape img {
      margin: 2rem; } }

@media only screen and (min-width: 500px) and (orientation: landscape) {
  body {
    font-size: 14px; }
  #nav {
    display: none; } }

@media only screen and (min-width: 600px) and (orientation: landscape) {
  body {
    font-size: 16px; }
  #share p, #subscribe p, #learn p {
    line-height: 1.15rem; }
  #nav {
    display: none; } }

@media only screen and (min-width: 800px) and (orientation: landscape) {
  #wantToTry4 {
    padding: 0 11rem; }
  #nav {
    display: none; } }

@media only screen and (min-width: 1000px) and (orientation: landscape) {
  button {
    padding: 0.5rem 5rem; }
  #fullScreen {
    grid-column: 11 / span 2;
    grid-row: 1 / 2; }
  .navButton {
    /*width: 2.25rem;*/
    width: 100%;
    /*height: 2.25rem;*/ }
  /* Photo of intersection */
  #intersection {
    width: 100%;
    object-fit: cover;
    height: 100vh; }
  #logo {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    margin-top: 2rem; }
  #wantToTry4 {
    padding: 0 7rem; }
  #subscribe, #share, #learn {
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / 8;
    padding: 2rem; }
  #subscribe input {
    height: 5vh;
    font-size: 1rem; }
  #subscribe input[type="submit"] {
    color: white;
    font-weight: 600;
    background-color: #226d8d;
    border: 2px solid #226d8d;
    padding: 0.5rem 2.5rem;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease-out; }
  .inputGroup {
    margin: 1rem 0; }
  #sorry input {
    font-size: 1rem;
    height: 5vh; }
  #sorry textarea {
    font-size: 1rem; } }

@media only screen and (min-width: 1025px) and (orientation: landscape) {
  body {
    font-size: 21px; }
  label {
    margin-bottom: .5rem; }
  textarea {
    font-size: 1rem; }
  .fadeInT {
    margin-left: 7px; }
  #sorry {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 7;
    grid-row: 2 / 9; }
    #sorry input, #sorry textarea {
      font-size: 1rem;
      padding-left: 10px; }
    #sorry button {
      border: 2px solid #226d8d; }
  /* ////////////////   Navigation   ////////////// */
  #nav::before {
    width: 30%; }
  #nav {
    display: flex; }
  /*   ////////////////    Page 3    //////////////    */
  #instructions {
    /*          -ms-grid-column: 2;          
          -ms-grid-column-span: 10;          
          grid-column: 2 / 10;*/ }
  .instructionCopy {
    margin: 0 .5rem; }
  .steps {
    padding: 1rem; }
  /*   ////////////////    Page 4    //////////////    */
  #wantToTry4 h1 {
    line-height: initial; }
  /*   ///////////////   Page 6   //////////////   */
  #share, #learn, #subscribe {
    padding: 2rem; }
    #share form, #learn form, #subscribe form {
      width: 25vw; }
    #share p, #learn p, #subscribe p {
      margin-top: 1rem;
      line-height: initial;
      padding-top: initial;
      margin-bottom: initial; }
    #share input, #share textarea, #learn input, #learn textarea, #subscribe input, #subscribe textarea {
      font-size: 1rem; }
    #share input[type="submit"], #learn input[type="submit"], #subscribe input[type="submit"] {
      color: white;
      font-weight: 600;
      background-color: #226d8d;
      border: 2px solid #226d8d;
      padding: 0.5rem 1rem;
      margin: .25rem 0 .125rem 0;
      font-family: Arial, sans-serif;
      transition: all 0.3s ease-out;
      font-size: initial; }
  #share {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
    margin: 0 2vh; }
  #subscribe {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / 8;
    margin: 0 2vh; }
  #learn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / 6;
    margin: 0 2vh; } }

/*   ////////////   Start Feature Query  ////////////   */
@supports (grid-gap: 0) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 9.1vh);
    grid-gap: 1vh; }
  /*  .gridContainer > * {

      grid-column: 1 / span 12;

  }*/
  /*  ///  Go Full Screen  ///  */
  #nav {
    /*      grid-column: 5 / span 4;
      grid-row: 9 / 10;
*/ }
  /* Instructions */
  #instructions {
    /*
      grid-column: 2 / span 10;
      grid-row: 1 / 8;*/ }
  #logo {
    grid-column: 6 / span 2;
    grid-row: 1 / 2; }
  /*  #share {
      grid-column: 1 / span 4;
      
  }

  #subscribe {
      grid-column: 5 / span 4;
      
  }

  #learn {
      grid-column: 9 / span 4;
      
  }*/
  #sorry {
    grid-column: 3 / span 8;
    grid-row: 1 / 10; }
  /*   /////////////////////    MEDIA QUERIES    /////////////////////   */
  @media only screen and (max-width: 1024px) and (orientation: portrait) {
    #goLandscape {
      grid-column: 1 / span 12;
      grid-row: 1 / 10; } }
  @media only screen and (min-width: 1000px) and (orientation: landscape) {
    #logo {
      grid-column: 5 / span 4; } }
  @media only screen and (min-width: 1025px) and (orientation: landscape) {
    #sorry {
      grid-column: 4 / span 6;
      grid-row: 2 / 9; }
    /*   ////////////////    Page 3    //////////////    */
    #instructions {
      /*          grid-column: 2 / span 10;*/ }
    /*   ///////////////   Page 6   //////////////   */
    /*      #share {
          grid-column: 1 / span 4;
        
      }

      #subscribe {
          grid-column: 5 / span 4;
         
      }

      #learn {
          grid-column: 9 / span 4;
         
      }*/ } }

/*   //// End Feature Query ////  */
